body {
    font-family: 'Arial', sans-serif;
    background-color: #d3d3d3;
    margin: 0;
    padding: 0;
}


h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

h18 {
    background-color: #7e7d7d;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
    margin-top: 50px; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
}

button:hover {
    background-color: #555;
}

#searchResults {
    margin-top: 20px;
}

.author-info {
    display: inline-block;
    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.author-info h2 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.author-info p {
    margin: 0;
}

.author-info p:first-child {
    margin-top: 10px;
    font-weight: bold;
}

.author-info p:nth-child(2) {
    font-style: italic;
}

.affiliation-info {
    display: inline-block;
    background-color: #4e0d0d;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.affiliation-info h2 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.affiliation-info p {
    margin: 0;
}

/* Style pour le nombre de publications 
.affiliation-info .nb-publications {
    font-weight: bold;
}

/* Style pour le pays 
.affiliation-info .country {
    font-style: italic;
}*/